.bottomBorder {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #d4d4d4;
  border-radius: 0;
  outline: none;
  padding: 10px 2px;
}

.bottomBorder:focus {
  border-bottom-color: #ff8200;
  box-shadow: none;
}
